{% extends 'base.html' %}
{% load media %}
{% load static %}

{% block content %}
<div class="col-12">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
                <img src="{% mediapath object.preview %}"
                     alt="{{ object }}" class="rounded float-start me-4" style="max-width: 700px"/>
            <small class="d-block mb-3 text-muted">
                {{ object.created }} | Просмотров: {{ object.views }}
            </small>
            <p class="mx-3">
                {{ object.content }}
            </p>
        </div>
    </div>
</div>
{% endblock %}